/*	Web App Part 3 CSS Elements
	by Eric Mareth
	for Visual Frameworks FSO
	Term 1212
*/


html {
	background: lightSteelBlue;
	overflow: scroll;
	
}

h1 {
	font-family: Impact;
	text-align: center;
	letter-spacing: 2px;
	color: #990000;
	background: #fff;

}

h2 {
	font-family: Impact;
	letter-spacing: 2px;
	text-align: center;
	text-transform: capitalize;
	margin: 0px 0px 50px 0px;
}

span {
	font-style: italic;
}

p {
	font-family: "Trebuchet MS" ;
}

ul{
	background: white;
}

#errors{
	color: red;
}

li {
	font-family: "Trebuchet MS" ;
	list-style: none;
	margin: 0px 0px 0px -30px;
}

li #city {
	text-decoration: line-through;
	color: gray;
}

fieldset {
	background: white;
	margin: 0px 0px 25px 0px;
	line-height: 28px;
	box-shadow: 10px 10px 10px slateGrey;

}


legend {
	font-family: "Trebuchet MS";
	font-style: italic;
	background: white;
	padding: 2px 10px 3px 10px;
	outline: 2px solid gray;
	box-shadow: 5px 5px 10px #555;
	color: #990000;
}

#detailField label {
	display: block;
}

textarea{
	width: 250px;
	height: 50px;
}

a{
	margin:0px 20px 0px 20px;
	color: #990000
}

#saveChar{
	margin: 0px 0px 0px 5px;
	width: 350px;
	background:maroon;
	color: ghostWhite;
	font: bold 18px "Trebuchet MS" ;
}

#addLink {
	margin: 65px;
	padding: 10px 18px 10px 18px;
	background: white;
	border: 6px double midnightblue;
	box-shadow: 5px 5px 10px slateGrey;
}