/*	Web App Part 3 CSS Elements
	by Eric Mareth
	for Visual Frameworks FSO
	Term 1212
*/


html {
	background: lightSteelBlue;
	overflow: scroll;
	
}

h1 {
	font-family: Impact;
	padding:10px 0px;
	text-align: center;
	letter-spacing: 2px;
	color: #990000;
	background: #fff;
	border: hidden;
	border-radius:20px;
	box-shadow: 7px 7px 10px slateGrey;
}

h2 {
	font-family: Impact;
	letter-spacing: 2px;
	text-align: center;
	text-transform: capitalize;
	margin-bottom: 50px;
}

span {
	font-style: italic;
}

p {
	font-family: "Trebuchet MS" ;
	text-align: center;
}

#errors{
	color: red;
	font-style: italic;
}

#bioList{
	list-style: none;
	margin-left: -40px;
}

li {
	font-family: "Trebuchet MS" ;
	list-style: none;
	margin-left: -30px;
}

#charAdjust{
	padding-top:15px;
}

#bio{
	border: 6px groove steelBlue;
	padding: 10px;
	border-radius: 10px;
	margin: 10px 0px;
	background: ghostWhite;
}

#city {
	color: gray;
}

fieldset {
	background: white;
	margin-bottom: 25px;
	line-height: 28px;
	box-shadow: 10px 10px 10px slateGrey;

}


legend {
	font-family: "Trebuchet MS";
	font-style: italic;
	background: white;
	padding: 2px 10px 3px 10px;
	outline: 2px solid gray;
	box-shadow: 5px 5px 10px #555;
	color: #990000;
}

#detailField label {
	display: block;
}

textarea{
	width: 250px;
	height: 50px;
}

a{
	margin:0px 10px 0px 10px;
	color: #990000
}

#saveChar{
	margin-left: 5px;
	width: 350px;
	background: maroon;
	color: ghostWhite;
	font: bold 18px "Trebuchet MS" ;
}

#addLink {
	margin: 65px;
	padding: 10px 18px;
	background: white;
	border: 6px double midnightblue;
	box-shadow: 5px 5px 10px slateGrey;
}